<div class="center jumbotron">
  <h1>Welcome to the Diet App</h1>
  <h2>
    このアプリは毎日何を食べたか投稿して、食事管理をサポートするアプリケーションです。
    <!--<a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>-->
    <!--sample application.-->
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
              
<%# link_to image_tag("kitten.jpg", alt: "Cat"),
            '#' %>